.about-container {
  display: flex;
  justify-content: center;
}

.about-card {
  box-sizing: border-box !important;
  max-width: 850px;
  background-color:  #e9d0af;
  border-radius: 50px;
  color: #333;
  font-size: 1rem;
  line-height: 1.7;
  text-align: center;
  padding: 2rem !important; /* hinzugefügt für mehr Innenabstand */
}

.zen-container {
  font-style: italic;
  text-align: center;
  margin-top: 2.6rem;
  color: #006D57;
  font-size: larger;
}

.linie {
  border: none;
  border-top: 2px solid rgba(28, 28, 28, 0.79);
  margin: 2rem auto;
  width: 80%;
}


@media (max-width: 768px) {
  .about-container {
    padding: 1rem;
  }

  .about-card {
    padding: 1rem;
    font-size: 0.95rem;
  }
}
