<div class="home-container">
  <div class="home-content">

    <!-- pie chart -->
      <div class="left-part">
      <div class="chart-wrapper">
        <canvas baseChart
                [data]="chartData"
                [type]="chartType"
                [options]="chartOptions"
                (chartClick)="chartClick($event)"
                style="width: 400px; height: 400px;">
        </canvas>
      </div>
      </div>


      <!-- Buttons und überschriften-->
      <div class="right-part">
        <h2 class="welcome-title mt-4">DeinZenKochbuch</h2>
      <div class="choice-class">
        <div class="frage-class">
        <h4 class="mb-4">Was möchtest du tun?</h4>
      </div>
        <div class="button-row">
          <a routerLink="/newrecipe" class="button">➕ Neues Rezept</a>
          <a routerLink="/myrecipes" class="button">🍴 Meine Rezepte</a>
          <a routerLink="/allrecipes" class="button">📖 In Rezepten schmökern</a>
        </div>
      </div>
    </div>
  </div>
</div>
