.full-width {
  width: 100%;
}

html, body {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  padding: 0 0.7rem 0.7rem;
}

p {
  margin: 0;
  padding: 0;
}


.button-container .d-flex.flex-column {
  gap: 0px; /* Abstand zwischen Text und Button */
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}


/*karte mit ganzem login*/
.shipping-card {
  font-family: 'Poppins', sans-serif !important;
  color: #333333;
  background-color: #e5c7a0 ;
  width: clamp(180px, 70vw, min(70vw, 1000px));
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50px;
  padding: 1em;
}

/*für die inhalte in der shipping card*/
.mat-card-actions {
  display: flex;
  flex-direction: row; /* Damit die Textzeile und die Buttons vertikal ausgerichtet sind */
  align-items: stretch;
  justify-content: space-between;
  gap: 70px;
  padding: 20px;
}

.mat-card-title {
  font-weight: bold;
  font-size: 40px;        /* etwa 32px */
  color: #333333;
  margin-bottom: 1rem;
}


/* Basis-Stil für alle runden Buttons */
.rund-button {
  margin: 0 !important;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 18px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  color: #fffaf7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button {
  background-color: #006D57;
  padding: 8px 20px;
  border-radius: 18px;

}

.login-button:hover {
  background-color:  #42915d;
}

.registrieren-button {
  background-color: #006D57;
  padding: 8px 20px;
  border-radius: 18px;
}

.registrieren-button:hover {
  background-color: #005645;
}

/*für den space zwischen den buttons, anders ging es nicht, hat jahre gedauert*/
.spacer {
  flex-grow: 1; /* Nimmt den gesamten verbleibenden Raum ein */
}

/*text noch kein konto?*/
.register-text {
  font-size: 16px;
  color: #333333;
  margin-top: 10px; /* Abstand zum oberen Rand */
  margin-bottom: 2px; /* Abstand zum unteren Rand */
  padding-left: 0.2rem;
}

/* eingabefelder */
mat-form-field .mat-input-element {
  background-color: #f7ede8;
  border-radius: 15px; /* abgerundete Ecken */
  color: #006D57;;
}

.wrapper {
  display: flex;
  justify-content: center; /* Horizontale Ausrichtung */
  align-items: center; /* Vertikale Ausrichtung */
  padding: 60px 0; /* Stellt sicher, dass es nicht zu nah am Header/Footer ist */
  margin: 0;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

.col {
  flex: 1;
  margin-right: 20px;
}
.mat-mdc-card-header {
  margin-bottom: 2%;
}

.mat-mdc-card-actions {
  margin-top: 2%;
}

.col:last-child {
  margin-right: 0;
}
