html, body {
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100%;
  margin: 0;
  padding: 0;

}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari: Scrollbalken ausblenden */
}

.container {
  max-height: 90vh; /* Verhindert, dass der Button abgeschnitten wird */
  overflow-y: auto;
  padding-bottom: 50px; /* Platz für den Button */
}

.clickable {
  cursor: pointer;
}

.btn-spacing {
  margin-left: 12px; /* Abstand anpassen */
}

.clickable:hover {
  background-color: #f8f9fa;
}
