html, body {
  overflow-y: auto;
  scrollbar-width: none;
}


body::-webkit-scrollbar {
  display: none;
}

/* dynamischr container damit seite scrollbar */
.container {
  max-width: 900px;
  background-color: #e9d0af;
  border-radius: 35px;
  padding: 3rem 4rem 1.5rem 4rem;
  margin-top: 1.8rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  margin-bottom: 2.8rem;
}

form {
  padding: 0.5rem;
}

.rezept-eingabe {
  padding-bottom: 3rem; /* Abstand zum Footer */
}


.clickable {
  cursor: pointer;
}

.btn-spacing {
  margin-left: 12px;
  margin-right: 7px;
}

.d-flex.justify-content-between.mt-4 {
  margin-top: 3rem !important;
}


.abbrechen-button {
  padding: 8px 20px;
  font-size: 16px;
  color: white;
  background-color: #006D57;;
  border: none;
  border-radius: 18px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;

}

.abbrechen-button:hover {
  background-color:  #42915d;
}

.speichern-button {
  padding: 8px 20px;
  font-size: 16px;
  color: white;
  background-color: #006D57;
  border: none;
  border-radius: 18px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

.speichern-button:hover {
  background-color: #42915d;
}

.btn-danger {
  padding: 8px 20px;
  border-radius: 18px;
}
