<app-alert></app-alert>

<div class="container mt-5" style="min-height: 100vh; padding-bottom: 100px;">
  <h2 class="text-center mb-4">
    {{ bearbeiteId ? 'Rezept bearbeiten' : 'Neues Rezept erstellen' }}
  </h2>


  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="mb-3">
      <label for="name" class="form-label">Name des Rezepts:</label>
      <input
        type="text"
        id="name"
        class="form-control"
        required
        [(ngModel)]="rezept.name"
        name="name"
        [ngClass]="{ 'is-invalid': form.submitted && !rezept.name.trim() }"
      >
      <div *ngIf="form.submitted && !rezept.name.trim()" class="invalid-feedback">
        Bitte gib einen Namen für dein Rezept ein.
      </div>
    </div>


    <!-- zutaten eingeben -->
    <div class="mb-3 ps-5 border-secondary-subtle">
      <label for="zutat" class="form-label"> 🍴 Zutaten hinzufügen </label>
      <input
        type="text"
        id="zutat"
        class="form-control bg-light"
        [(ngModel)]="zutatInput"
        name="zutatInput"
        (keyup)="sucheZutat()"
        placeholder="Tippe hier deine Zutaten ein"
      >
    </div>

    <!-- Zutaten-Vorschläge -->
    <ul class="list-group mt-2 ps-5" *ngIf="zutatenVorschlaege.length > 0">
      <li class="list-group-item clickable" *ngFor="let zutat of zutatenVorschlaege" (click)="zutatAuswaehlen(zutat)">
        {{ sonderzeichenservice.uebersetzeUmlauteUndSonderzeichenAusDBFuerAnzeigeImFrontend(zutat.name) }}

      </li>
    </ul>

    <!-- Zutatenliste mit Mengenangaben -->
    <div class="mt-3 mb-3" *ngIf="ausgewaehlteZutaten.length > 0">
      <p class="mb-2">Zutatenliste:</p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let zutat of ausgewaehlteZutaten ; let i = index">
          <div class="d-flex justify-content-between align-items-center w-100">
            <span class="w-50">{{ zutat.name }}</span>
            <input type="number"
                   [(ngModel)]="zutat.menge"
                   class="form-control w-50"
                   [placeholder]="'Menge in ' + zutat.mengeneinheit"
                   [name]="'menge' + i"
                   [attr.tabindex]="100 + i">

          </div>
          <button type="button" class="btn btn-danger btn-sm ml-5 btn-spacing" (click)="entferneZutat(zutat.id)">✕</button>
        </li>
      </ul>
    </div>

    <div class="mb-3">
      <label for="anleitung" class="form-label">Anleitung:</label>
      <textarea id="anleitung" class="form-control" required [(ngModel)]="rezept.anleitung" name="anleitung"></textarea>
    </div>

    <div class="mb-3">
      <label for="anzahlportionen" class="form-label">Anzahl der Portionen:</label>
      <input
        id="anzahlportionen"
        type="number"
        [(ngModel)]="rezept.anzahlportionen"
        name="anzahlportionen"
        required
        min="1"
        class="form-control"
        [ngClass]="{ 'is-invalid': form.submitted && rezept.anzahlportionen <= 0 }"
      />
      <div *ngIf="form.submitted && rezept.anzahlportionen <= 0" class="invalid-feedback">
        Bitte gib eine gültige Portionenanzahl ein.
      </div>

    </div>

    <div class="mb-3">
      <label for="zubereitungszeitmin" class="form-label">Zubereitungszeit (in Minuten):</label>
      <input
        id="zubereitungszeitmin"
        type="number"
        [(ngModel)]="rezept.zubereitungszeitmin"
        name="zubereitungszeitmin"
        required
        min="1"
        class="form-control"
        [ngClass]="{ 'is-invalid': form.submitted && rezept.zubereitungszeitmin <= 0 }"
      />
      <div *ngIf="form.submitted && rezept.zubereitungszeitmin <= 0" class="invalid-feedback">
        Bitte gib eine gültige Zubereitungszeit an.
      </div>
    </div>



    <!-- Checkboxen -->
    <div class="mb-3">
      <label class="form-label">Eigenschaften:</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="vegetarisch" [(ngModel)]="rezept.vegetarisch" name="vegetarisch">
        <label class="form-check-label" for="vegetarisch">🧀 Vegetarisch</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="vegan" [(ngModel)]="rezept.vegan" name="vegan">
        <label class="form-check-label" for="vegan">🌱 Vegan</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="rohkost" [(ngModel)]="rezept.rohkost" name="rohkost">
        <label class="form-check-label" for="rohkost">🥑 Rohkost</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="glutenfrei" [(ngModel)]="rezept.glutenfrei" name="glutenfrei">
        <label class="form-check-label" for="glutenfrei">🌾Glutenfrei</label>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <button type="button" class="btn btn-secondary abbrechen-button" (click)="abbrechen()">Abbrechen</button>
      <button type="submit" class="btn btn-primary speichern-button">
        {{ bearbeiteId ? 'Rezept aktualisieren' : 'Rezept speichern' }}
      </button>
    </div>

  </form>
</div>
