.container {
  overflow: visible !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 2rem;
}

.abbrechen-button {
  padding: 8px 20px;
  font-size: 16px;
  color: white;
  background-color: #722a35;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

.abbrechen-button:hover {
  background-color: #5c1e2b;
}

/* das sind die icons in den cards für löschen uns bearbeiten
.icon-btn {
  font-size: 1.4rem !important;
  font-weight: bold !important;
  color:#5c1e32; !important;
  padding: 6px;
  border-radius: 10px;
  margin-left: 0.5rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.icon-btn:hover {
  background-color: #f1f3f5 !important;
  transform: scale(1.2);
  color: #5c1e2b; !important;
}
*/
