.rezepte-container {
  overflow: visible !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.abbrechen-button {
  padding: 8px 20px;
  font-size: 16px;
  color: white;
  background-color: #722a35;
  border: none;
  border-radius: 18px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

.abbrechen-button:hover {
  background-color: #5c1e2b;
}

.neue-rezept-button {
  background-color: #006D57;
  color: white;
  padding: 8px 20px;
  border-radius: 18px;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.neue-rezept-button:hover {
  background-color:  #42915d;
  transform: translateY(-2px);
}
