/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  min-height: 100%;
  /*overflow: hidden;*/
  scrollbar-width: none;
  background-color: #d18263;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
}

router-outlet {
  flex: 1;
  display: block;
}


/*häckchen in den checkboxen*/
.form-check-input:checked {
  background-color: #722a35;
  border-color: #722a35;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;           /* für Chrome und Safari */
}

mat-form-field.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #f7ede8 !important;
  border-radius: 4px !important;
}

mat-form-field.mat-form-field-appearance-fill .mat-input-element {
  background-color: transparent !important;
  color: #722a35 !important;
}

.mat-mdc-snack-bar-container {
  .red-snackbar {
    --mdc-snackbar-container-shape: #722a35 ;
    background: #722a35;
  }
}
