* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*irgendwie gab es voreinstellungen, wahrscheinlich bootstrap, die sind hiermit ausgeschaltet, sonst lässt sich der text nicht formuatieren */

.footer,
.footer .container {
  background-color: #f1f3f5 !important;
  padding: 0.5rem 1rem;
  text-align: left;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 10;
  margin-top: auto;
}


.footer .text {
  margin: 0; /* entfernt margins, falls standardmargin vorher eingestellt war*/
  flex-grow: 0;
  padding-left: 8px;
  text-align: left;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
  color: #161616;
}
