* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*irgendwie gab es voreinstellungen, wahrscheinlich bootstrap, die sind hiermit ausgeschaltet, sonst lässt sich der text nicht formuatieren */

.footer {
  background-color: #f1f3f5;
  padding: 0.5rem 1rem;
  text-align: left;
  width: 100%;
}


.footer .text {
  margin: 0; /* entfernt margins, falls standardmargin vorher eingestellt war*/
  flex-grow: 0;
  padding-left: 8px;
  text-align: left;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
  color: #333333;
}

.footer .container {
  width: 100%;
  padding: 0;
  margin: 0 !important;
}
