.btn-success {
  padding: 8px 20px;
  border-radius: 18px;
  background-color: #006D57;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #42915d;
}

.abbrechen-button {
  padding: 8px 20px;
  background-color: #006D57;
  color: #fff;
  border: none;
  border-radius: 18px;
  transition: background-color 0.3s ease;
}
.abbrechen-button:hover {
  background-color: #42915d;
}

.einstellungen-formular {
  max-width: 600px;
  margin: 0 auto;
}

.btn-danger {
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 18px;
  color: white;
  background-color: #722a35;
  box-shadow: none;
  outline: none;
  border: none;
}

@media (max-width: 600px) {
  .modal-content.rounded,
  .modal-content.modal-rund {
    width: 90%;
    max-width: 320px;
    padding: 1.5rem 1rem !important;
    font-size: 0.95rem;
    box-sizing: border-box;
    border-radius: 20px !important;
    text-align: center;
  }

  .modal-backdrop.request {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
  }

  .modal-content .d-flex {
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
  }

  .modal-content button {
    width: 100%;
    max-width: 220px;
    font-size: 14px;
    padding: 8px 16px;
  }

  .modal-content input.form-control {
    font-size: 14px;
    padding: 10px;
  }
}
