.btn-success {
  padding: 8px 20px;
  border-radius: 18px;
  background-color: #006D57;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #42915d;
}

.abbrechen-button {
  padding: 8px 20px;
  background-color: #006D57;
  color: #fff;
  border: none;
  border-radius: 18px;
  transition: background-color 0.3s ease;
}
.abbrechen-button:hover {
  background-color: #42915d;
}

.einstellungen-formular {
  max-width: 600px;
  margin: 0 auto;
}

.btn-danger {
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 18px;
  color: white;
  background-color: #722a35;
  box-shadow: none;
  outline: none;
  border: none;
}
